<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>home sweet home</h1>
    <form action="insert" method="POST">
      <label for="">brand</label>
      <input type="text" name="br" />

      <label for="">color</label>
      <input type="text" name="clr" />

      <label for="">name</label>
      <input type="text" name="nme" />

      <label for="">size</label>
      <input type="text" name="sz" />

      <label for="">price</label>
      <input type="text" name="prz" />

      <label for="">quantity</label>
      <input type="text" name="qty" />

      <label for="">image_url</label>
      <input type="text" name="imgurl" />

      <button type="submit">add shoe</button>
    </form>
  </body>
</html>